<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css">
<%- include('../partials/nav') %>

<main>
  <h1>My Matches</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Company</th>
        <th>Event</th>
        <th>Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% matches.forEach(match => { %>
        <tr>
          <td><%= match.company %></td>
          <td><%= match.event %></td>
          <td><%= match.year %> </td>
          <td><a href="/matches/<%= match._id %>">DETAILS</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>


<%- include('../partials/footer') %>