<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Matches</h1>
  <h2>All My Matches</h2>
  <ul>
    <% matches.forEach(match => { %>
      <li>
        <a href="/matches/<%= match._id %>"><%= match.name %></a> 
      </li>
    <% }) %>
  </ul>
</section>


<%- include('../partials/footer') %>