<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/matches/index.css">
<%- include('../partials/nav') %>

<main>
  <h1>My Matches</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Company</th>
        <th>Match</th>
        <th>Event</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% matches.forEach(match => { %>
        <tr>
          <td><%= match.company %></td>
          <td><%= match.bout %></td>
          <td><%= match.event %></td>
          <td><a href="/matches/<%= match._id %>">
            details</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>