<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css">
<%- include('../partials/nav') %>

<section>
  <h1><%= match.name %></h1>
  <!-- //<% if (user) { %>
    <form 
      action="
      //tacos/<%= taco._id %>/flip-tasty?_method=PATCH"
      method="POST"
    >
      <button class="btn" type="submit">
        Make taco 
        //<%= taco.tasty ? "not tasty 😠" : "tasty 🎉" %> 
      </button>
    </form>
  //<% } %>
  //<% if (taco.owner.equals(user?.profile._id)) { %>
    <form action="
    //matches/<%= match._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit Match</button>
    </form>
    <form action="/matches/ 
    //<%= match._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete Match</button>
    </form>
 // <% } %> -->
</section>


<%- include('../partials/footer') %>