<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css">
<%- include('../partials/nav') %>

<main>
  <h1>New Match</h1>
   <section>
    <div>Company: <%= match.company %></div>
    <div>Event: <%= match.event %></div>
    <div>Release Year: <%= match.eventYear %></div>
    <div>Rating: <%= match.rating %>  </div>
    <div>Wrestlers:
      <ul>
        <% match.wrestlers.forEach(wrestler => { %>
          <li><%= wrestler.name %></li>
        <% }) %>
      </ul>
    </div>
  </section>
  <section>
    <form id="add-wrestler-to-match" 
      action="/matches/<%= match._id %>/wrestlers" method="POST">
        <select name="wrestlerOneId">
          <% wrestlers.forEach(function(wrestler) { %>
            <option value="<%= wrestler.id %>"><%= wrestler.name %></option>
          <% }) %>
        </select>
        <button type="submit">Add to Match</button>
    </form>
    <form id="add-wrestler-to-match" 
      action="/matches/<%= match._id %>/wrestlers" method="POST">
        <select name="wrestlerTwoId">
          <% wrestlers.forEach(function(wrestler) { %>
            <option value="<%= wrestler.id %>"><%= wrestler.name %></option>
          <% }) %>
        </select>
        <button type="submit">Add to Match</button>
    </form>
    <form 
    action="/matches/<%= match._id %>/ratings"
    id="add-rating-form"
    method="POST"
    >
    <label for="rating-select">Rating:</label>
        <select name="rating" id="rating-select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      <button type="submit">Save Review</button>
    </form>  
    <form action="/matches/<%= match._id %>/edit"
        method="GET">
      <button class="btn" type="submit">Edit Match</button>
    </form>
    <div>
      <form action="/matches/<%= match._id %>?_method=DELETE" method="POST">
      <button>Delete Match</button>
    </form>
    </div>
    </section>
  </main>




<%- include('../partials/footer') %>

