<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/matches/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= match.bout %></h1>
   <section>
    <div> <%= match.company %></div>
    <div> <%= match.event %></div>
    <div> <%= match.eventYear %></div>
    <div>
      <ul>
        <% match.wrestlers.forEach(wrestler => { %>
          <li><%= wrestler.name %></li>
        <% }) %>
      </ul>
    </div>
  </section>
  <section>
    <form id="add-wrestler-to-match" 
      action="/matches/<%= match._id %>/wrestlers" method="POST">
        <select name="wrestlerOneId">
          <% wrestlers.forEach(function(wrestler) { %>
            <option value="<%= wrestler.id %>"><%= wrestler.name %></option>
          <% }) %>
        </select>
        <button type="submit">Add to Match</button>
    </form>
  </section> 
  <section class="ratings"></section> 
  <h2>
    <% match.rating.forEach(function(rating) { %>
    <%= rating.rating %>/5</h2>
    <% }) %> 
  </h2>
    <form 
    action="/matches/<%= match._id %>/ratings"
    id="add-rating-form"
    method="POST"
    >
    <label for="rating-select">Rating:</label>
        <select name="rating" id="rating-select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3" selected>3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select><br>
      <button type="submit">Save Rating</button>
    </form>  
  </section>
  <section id="edit-delete">
    <form action="/matches/<%= match._id %>/edit"
        method="GET">
      <button type="submit">Edit Match</button>
    </form>
    <form action="/matches/<%= match._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Match</button>
    </form>
   </section>
  </main>




<%- include('../partials/footer') %>

